

h1 {
    color: #c1ff72;
    font-family: Bebas Neue;
    margin-top: 5rem;
    margin-left: 2.5rem;
    letter-spacing: 2rem;

}

h2 {
    color: #90b8f8;
    font-family: JetBrains Mono;
    margin-top: 0.5rem;
    margin-left: 2.5rem;
}

p {
    font-family: Bebas Neue;
    color: #FFF;
    margin-left: 2.5rem;
}


.profile-img {
    background-color: #4281c8;
    z-index: 0;
    height: 35rem;
    margin: 0;
    padding: 0;
    background-color: #4281c8;
    margin-bottom: 0;
    padding-bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile-img > .profile-picture {
    z-index: 0;
    align-self: center;
    justify-self: center;
    max-height: 40%;
    margin-left: -80%;
}


#introduction-hero > .profile-container {
    z-index: 0;
    display: grid;
    gap: 0;
    grid-template-columns: 1fr 0.5fr;
    grid-template-rows: 1fr 1fr;
    padding: 0;
    margin: 0;

}

.intro {
    z-index: 0;
    height: 35rem;
    background-color: black;
}

.intro-blurbs-container {
    width: 300px;
    margin-left: 2.5rem;
    z-index: 2;

    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5rem;
}

.blurb-card {
    padding: 0;
    margin: 0;
}

.blurb-card-body > p {
    padding: 0; 
    margin: 0;
}


@media (max-width: 768px) {
    p {
        max-width: 200px;
    }
}

@media (max-width: 576px)
{
    
    #introduction-hero > .profile-container {
        z-index: 0;
        display: grid;
        gap: 0;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        padding: 0;
        margin: 0;
    
    }

    .intro {
        z-index: 0;
        background-color: black;
        width: 100%;
        max-width: 540px;
        grid-row-start: 1;
        grid-row-end: 2;
    }

    .profile-img{
        max-width: 540px;
        display: grid;
        grid-row-start: 2;
        grid-row-end: 3;
        justify-content: center;
        align-content: center;
        padding-left: 50%;
    }

    p {
        max-width: 100%;
    }

}






